body {
    background-image: url("Background_Calendar.jpg");
    background-color: rgb(243, 245, 241);      
}
 #Signin_Box{
     background-color: rgb(0, 89, 255);
     height: 20rem;
     width: 20rem;
     border: 5px solid black;
     margin: auto;
     display: inline-block;
     margin-left: 25%;
     margin-top: 8%;
     text-align: center;   
     
     
 }
 #Register_Box{
     display: inline-block;
     background-color: rgb(97, 137, 212);
     height: 20rem;
     width: 20rem;
     border: 5px solid black;
     margin: 2rem;
     text-align: center;
 }
 
 #inside_Signin{
     margin: auto;
     border: 8px solid rgb(241, 241, 175);
     height: 19.5rem;
     width: 19.5rem;
 }
 
 #inside_Register{
     margin: auto;
     border: 8px solid rgb(241, 241, 175);
     height: 19.5rem;
     width: 19.45rem;
 }
 #inside_Signin p{
     font-size: 50px;
     text-align: center;
     vertical-align: middle;
     line-height: 250px;
     font-family: Brush Script MT, Brush Script Std, cursive;
     color: burlywood;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
 }
 
 #inside_Register p{
     font-size: 50px;
     text-align: center;
     vertical-align: middle;
     line-height: 250px;
     font-family: Brush Script MT, Brush Script Std, cursive;
     color: burlywood;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
 }

 * {box-sizing: border-box}

/* style the container */
.form-text-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2em;
}

.middle-content-form {
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
}

.container {
  /* position: relative; */
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
  margin: 0;
  max-width: 100%;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* vertical line */
/* .vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
} */

.vl {
  align-self: center;
}

/* text inside the vertical line */
/* .inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
} */

/* hide some text on medium and large screens */
/* .hide-md-lg {
  display: none;
} */

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}